interactions:
- request:
    body: {grant_type: password, password: dummy, username: dummy}
    headers:
    method: POST
    uri: https://app.energycurb.com/oauth2/token
  response:
    body: {string: '{"token_type": "bearer", "refresh_token": "XXXXXXXX",
        "access_token": "YYYYYYYY", "expires_in": 2592000, "user_id": 5050}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Authorization, Content-Type, Content-Length, X-Requested-With, Accept, Client-Version
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Methods]
      : GET,POST,PUT,DELETE
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Cache-Control]
      : no-store
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Content-Encoding]
      : gzip
      ? !!python/object/new:multidict._multidict.istr [Content-Length]
      : '185'
      ? !!python/object/new:multidict._multidict.istr [Content-Type]
      : application/json; charset=UTF-8
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Fri, 14 Apr 2017 00:03:33 GMT
      ? !!python/object/new:multidict._multidict.istr [Pragma]
      : no-cache
      ? !!python/object/new:multidict._multidict.istr [Server]
      : nginx/1.10.0
      ? !!python/object/new:multidict._multidict.istr [Vary]
      : Accept-Encoding
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, app.energycurb.com, /oauth2/token,
        '', '']
      - false
- request:
    body: null
    headers:
      Authorization: [Bearer 0123456789ABCDEF==]
    method: GET
    uri: https://app.energycurb.com/api
  response:
    body: {string: '{"_links": {"self": {"href": "/api"}, "devices": {"href": "/api/user/5050/devices"},
        "profiles": {"href": "/api/user/5050/profiles"}}}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Authorization, Content-Type, Content-Length, X-Requested-With, Accept, Client-Version
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Methods]
      : GET,POST,PUT,DELETE
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Content-Encoding]
      : gzip
      ? !!python/object/new:multidict._multidict.istr [Content-Length]
      : '90'
      ? !!python/object/new:multidict._multidict.istr [Content-Type]
      : application/json; charset=UTF-8
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Fri, 14 Apr 2017 00:03:33 GMT
      ? !!python/object/new:multidict._multidict.istr [Server]
      : nginx/1.10.0
      ? !!python/object/new:multidict._multidict.istr [Vary]
      : Accept-Encoding
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, app.energycurb.com, /api,
        '', '']
      - false
- request:
    body: null
    headers:
      Authorization: [Bearer 0123456789ABCDEF==]
    method: GET
    uri: https://app.energycurb.com/api/user/5050/profiles
  response:
    body: {string: '{"_links": {"self": {"href": "/api/user/5050/profiles"}}, "_embedded":
        {"profiles": [{"_links": {"self": {"href": "/api/profiles/1148"}, "device":
        {"href": "/api/devices/9251"}, "historical": {"href": "/api/profiles/1148/historical"}},
        "_embedded": {"billing": {"_links": {"self": {"href": "/api/profiles/1148/billing",
        "methods": ["get", "put"]}}, "billing_model": {"sector": "Residential", "label":
        "539fb824ec4f024bc1dc13eb", "utility": "Pacific Gas & Electric Co", "name":
        "E-1 - Baseline Region X"}, "billing_day_of_month": 23, "zip_code": 95014,
        "dollar_pkwh": 0.1323}, "registers": {"_links": {"self": {"href": "/api/profiles/1148/registers",
        "methods": ["get", "put"]}}, "registers": [{"id": "urn:energycurb:registers:curb:abcdefgh:0:a",
        "label": "Main I", "flip_domain": false, "multiplier": 1}, {"id": "urn:energycurb:registers:curb:abcdefgh:0:b",
        "label": "Oven A", "flip_domain": true, "multiplier": 1}, {"id": "urn:energycurb:registers:curb:abcdefgh:0:c",
        "label": "Dryer A", "flip_domain": true, "multiplier": 1}, {"id": "urn:energycurb:registers:curb:abcdefgh:0:d",
        "label": "Washer", "flip_domain": false, "multiplier": 1}, {"id": "urn:energycurb:registers:curb:abcdefgh:0:e",
        "label": "Kitchen Appliances", "flip_domain": false, "multiplier": 1}, {"id[...]
- request:
    body: null
    headers:
      Authorization: [Bearer 0123456789ABCDEF==]
    method: GET
    uri: https://app.energycurb.com/api/user/5050/devices
  response:
    body: {string: '{"_links": {"self": {"href": "/api/user/5050/devices"}}, "devices":
        [{"_links": {"self": {"href": "/api/devices/9251"}}, "_embedded": {"sensor_groups":
        [{"_links": {"self": {"href": "/api/sensor_groups/7755"}, "token": {"href":
        "/api/sensor_groups/7755/token"}}, "_embedded": {"sensors": [{"_links": {"self":
        {"href": "/api/sensors/2885"}}, "name": "abcdefgh", "arbitrary_name": "My
        Curb"}]}}]}, "name": "Home", "building_type": "home", "timezone": "America/Los_Angeles"}]}'}
    headers:
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Headers]
      : Authorization, Content-Type, Content-Length, X-Requested-With, Accept, Client-Version
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Methods]
      : GET,POST,PUT,DELETE
      ? !!python/object/new:multidict._multidict.istr [Access-Control-Allow-Origin]
      : '*'
      ? !!python/object/new:multidict._multidict.istr [Connection]
      : keep-alive
      ? !!python/object/new:multidict._multidict.istr [Content-Encoding]
      : gzip
      ? !!python/object/new:multidict._multidict.istr [Content-Length]
      : '241'
      ? !!python/object/new:multidict._multidict.istr [Content-Type]
      : application/json; charset=UTF-8
      ? !!python/object/new:multidict._multidict.istr [Date]
      : Fri, 14 Apr 2017 00:03:34 GMT
      ? !!python/object/new:multidict._multidict.istr [Server]
      : nginx/1.10.0
      ? !!python/object/new:multidict._multidict.istr [Vary]
      : Accept-Encoding
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, app.energycurb.com, /api/user/5050/devices,
        '', '']
      - false
- request:
    body: null
    headers:
      Authorization: [Bearer 0123456789ABCDEF==]
    method: GET
    uri: https://app.energycurb.com/api/profiles/5050/historical-data?granularity=1H&unit=w&since=0
  response:
    body: {string: '{"_links": {"self": {"href": "/api/profiles/5050/historical-data?since=0&unit=w&granularity=1H&until=1492199190"},
        "previous": {"href": null}}, "results": [{"granularity": "1H", "since": 0,
        "until": 1492199190, "unit": "w", "headers": ["timestamp", "urn:energycurb:registers:curb:abcdefgh:0:a",
        "urn:energycurb:registers:curb:abcdefgh:0:b", "urn:energycurb:registers:curb:abcdefgh:0:c",
        "urn:energycurb:registers:curb:abcdefgh:0:d", "urn:energycurb:registers:curb:abcdefgh:0:e",
        "urn:energycurb:registers:curb:abcdefgh:0:f", "urn:energycurb:registers:curb:abcdefgh:1:a",
        "urn:energycurb:registers:curb:abcdefgh:1:b", "urn:energycurb:registers:curb:abcdefgh:1:c",
        "urn:energycurb:registers:curb:abcdefgh:1:d", "urn:energycurb:registers:curb:abcdefgh:1:e",
        "urn:energycurb:registers:curb:abcdefgh:1:f", "urn:energycurb:registers:curb:abcdefgh:2:a",
        "urn:energycurb:registers:curb:abcdefgh:2:b", "urn:energycurb:registers:curb:abcdefgh:2:c",
        "urn:energycurb:registers:curb:abcdefgh:3:a", "urn:energycurb:registers:curb:abcdefgh:3:b",
        "urn:energycurb:registers:curb:abcdefgh:3:c", "urn:energycurb:registers:curb:other"],
        "data": [[1483977600, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1483981200, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        [1483984800, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1483988400, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1483992000,
        0[...]
[...]
